# weechat
weechat/irc.conf
weechat/logs
weechat/xfer
weechat/weechat.log
weechat/script/plugins.xml.gz
weechat/urlserver_list.txt
weechat/weechat_fifo*
weechat/ssl

# ncmpcpp
ncmpcpp/error.log

#xmonad
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad-x86_64-linux
